*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(177, 183, 66);
}

#main p{
    margin: 2rem;
    font-size: 30px;
}

#main button{
    padding: 1rem;
    width: 13rem;
    background-color: rgb(41, 41, 41);
    color: white;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 6px;
}